$def with(cfematicos)
<link rel="stylesheet" href="../static/boostrap/css/bootstrap.css">
<header>
    <div class="contenedor">
        <h1 class="icon-flash">CFE</h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
        <nav class="menu" >
            <a href="/cfe_data">¿Donde Pagar?</a>
            <a href="/historial_pagos">Historial de Pagos</a>
            <a href="/">Cerrar sesion</a>
        </nav>
    </div>
</header>
<div class="contenedor">
    <input class="btn btn-success" type="text" value="Detalle de cfematicos"/>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <tr class="active info">
                <th>COLONIA</th>
                <th>DIRECCION</th>
                <th>DIAS DE ATENCION</th>
                <th>HORARIO DE ATENCION</th>
            </tr>
            $for row in cfematicos:
                <tr class="active">
                    <td>$row[3]</td>
                    <td>$row[4]</td>
                    <td>$row[7]</td>
                    <td>$row[8]</td>
                </tr>
        </table>
    </div>
    <input class="btn btn-success" type="text" value="Mapa"/>
    <iframe width="100%" height="520" frameborder="0" src="https://wuisho.carto.com/viz/3ad520b4-bc26-11e6-b68a-0ef24382571b/embed_map"
            allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</div>
