$def with (login)
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" contetn="IE=edge">
	<meta name="viewport" content="width=device-width, user.scalable=no, initial-scale=1.0, maximum-scale=1.0, minium-scale=1.0">
	<link rel="stylesheet" href="../static/css/fontello.css">
	<link rel="stylesheet" href="../static/css/estilos.css">
	<link rel="stylesheet" href="../static/css/lista.css">
	<link rel="stylesheet" href="../static/css/form.css">
	<link rel="shortcut icon" href="../static/icono/icono.ico">
	<title>CFE</title>
</head>
<body>
    <header>
	    <div class="contenedor">
	        <h1 class="icon-flash">CFE</h1>
	        <input type="checkbox" id="menu-bar">
	        <label class="icon-menu" for="menu-bar"></label>
	        <nav class="menu" >
	            <a class="click" href="/">Inicio</a>
	            <a href="/login">Login</a>
	            <a href="#footer">Acerca de..</a>
	        </nav>
	    </div>
	</header>
	<main>
		<section id="banner">
	        <img src="../static/img/banner.jpg" alt="">
	        <div class="contenedor"> <h2>Comisión Federal de</h2><br><h2>Electricidad</h2>
	             <p>Una empresa de clase mundial</p>
	        </div>
	    </section>
	</main>
	$:login
	<script src="../static/boostrap/js/jquery.js"></script>
	<script src="../static/boostrap/js/bootstrap.min.js"></script>
</body>
</html>
