<main>
		<section id="bienvenidos">
	        <div class="contenedor">
	            <h2>¿Qúe es CFE?</h2>
	        	<P>La Comisión Federal de Electricidad es una empresa del gobierno mexicano que genera, transmite, distribuye y comercializa energía eléctrica para más de 35.6 millones de clientes al mes de marzo, lo que representa a más de 100 millones de habitantes, e incorpora anualmente más de un millón de clientes nuevos.</P>
	        	<P>La infraestructura para generar la energía eléctrica está compuesta por 211 centrales generadoras, con una capacidad instalada de 52,862 megawatts (MW), incluyendo productores independientes con 23 centrales (22 ciclo combinado y una eoloeléctrica) y 32 centrales de la extinta Luz y Fuerza.</P>
	        	<P>El 22.72% de la capacidad instalada corresponde a 25 centrales construidas con capital privado por los Productores Independientes de Energía (PIE).</P>
	        	<P>En la CFE se produce la energía eléctrica utilizando diferentes tecnologías y diferentes fuentes de energético primario. Tiene centrales termoeléctricas, hidroeléctricas, carboeléctricas, geotermoeléctricas, eoloeléctricas y una nucleoeléctrica</P>
	        </div>
	    </section>
		<section id="info">
	        <div class="contenedor">
	            <div class="info-pet">
	                <img src="../static/img/termoelectrica.jpg" alt="">
	                <h4>Termoelectrica</h4>
	            </div>
	            <div class="info-pet">
	                <img src="../static/img/blog1.jpg" alt="">
	                <h4>Hidroelectrica</h4>
	            </div>
	            <div class="info-pet">
	                <img src="../static/img/carboelectrica.jpg" alt="">
	                <h4>Carboelectrica</h4>
	            </div>
	            <div class="info-pet">
	                <img src="../static/img/eoloelectrica.jpg" alt="">
	                <h4>Eoloelectrica</h4>
	            </div>
	        </div>
	    </section>
	</main>
